@media (max-width: 1024px) {
  .header--row-inner {
    background-color: #47989c;
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out; /* Ajout de transition pour une animation en douceur */
  }
}
@media (min-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    left: 0;
    transition: transform 0.2s ease-in-out; /* Ajout de transition pour une animation en douceur */
  }
  .header .hfg-slot {
    /* Styles à appliquer uniquement pour les écrans de bureau */
    &.left {

      .builder-item--logo {
        z-index: 1;
      }
    }

    #header-grid {
      .header-main {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 2;
      }
    }
  }

  .header {
    &-main-inner {
      z-index: 1;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
@media (min-width: 1280px) {
  .header .hfg-slot {
    &.left {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        background-color: $main-color;
        width: 500px;
        height: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 60%;
        bottom: 0;
        left: 0;
        background-color: #47989c;
        transform-origin: top right;
        transform: skew(-45deg);
      }
    }
  }
}
@media (min-width: 960px) and (max-width:1024px) {
  .header--row-inner {
    background-color: white;
    .neve-site-logo {
      max-width: 12.5rem;
    }
  }
} 
.header-hidden {
  transform: translateY(-100%);
}