#wpforms-form-60 {
    max-width: 400px;
    margin: auto;

    .wpforms-field {
        padding: .5rem 0;
        .wpforms-field-medium {
            max-width: 100%;
        }
    }

    .wpforms-submit {
        width: 100%;
        border-radius: 10px;
        height:auto;
        padding: 0.75rem 3rem;
        color: $text-color;
        background: none;
        background-color: $main-color;
        text-transform: uppercase;
        line-height: 1.6rem;
        font-weight: bold;

        &:hover {
            background: none;
            background-color: $main-color-hover;
            color:white;
        }
    }
}